{% extends 'base.html.twig' %}

{% block title %}New Income{% endblock %}

{% block body %}
    <h1>Create new Income</h1>

    {{ include('income/_form.html.twig') }}

    <a href="{{ path('income_index') }}"><button class="btn btn-lg btn-primary" type="submit" >back to list</button</a>
{% endblock %}
