{% extends 'base.html.twig' %}

{% block title %}New Expenses{% endblock %}

{% block body %}
    <h1>Create new Expenses</h1>

    {{ include('expenses/_form.html.twig') }}

    <a href="{{ path('expenses_index') }}"><button class="btn btn-lg btn-primary" type="submit" >back to list</button></a>
{% endblock %}
